@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar2 {
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem /* 8px */);
  min-height:55px;
  height:55px;
  width: 100%;
}
:where(.navbar2 > *:not(script, style)) {
  display: inline-flex;
  align-items: center;
}