@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar2 {
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem /* 8px */);
  min-height:55px;
  height:55px;
  width: 100%;
}
:where(.navbar2 > *:not(script, style)) {
  display: inline-flex;
  align-items: center;
}

.scroll-offset {
  scroll-margin-top: 300px; /* Atur offset sesuai kebutuhan */
}

.carousel2 {
  display: inline-flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel2::-webkit-scrollbar {
  display: none;
}